/* The alert message box */

.messageBox {
    padding: 20px;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: large;
}

.error {
    background-color: #f44336; /* Red */
}

.message {
    background-color: darkgreen; /* Red */
}

.importSelector {
    width: 100%;
}

.importSelector h2 {
    font-size: 1.8em;
}

div .row .fieldsList {
    width: 100%;
    padding: 0;
    margin: 0;
}

.fieldsList tr {
    margin-bottom: 5px;
}

.fieldsList h2 {
    margin-bottom: 5px;
}

.fieldsList td {
    padding: 0 0.1em 0 1.0em;
    margin: 0;
}

.fieldsList .checkbox label {
    height: 3rem;
    top: 0.7rem;
}

.fieldsList td input {
    margin: 0;
}

.fieldsList td .input-field {
    margin: 0px;
}

.fieldsList .input-field input.select-dropdown {
    margin: 0;
}