/* The alert message box */

html {
    height: 100%;
}

body {
    height: 100vh;
}

.messageBox {
    padding: 20px;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: large;
}

.error {
    background-color: #f44336; /* Red */
}

.message {
    background-color: darkgreen; /* Red */
}

div .row .fieldsList {
    width: 100%;
    padding: 0;
    margin: 0;
}

.fieldsList tr {
    margin-bottom: 5px;
}

.fieldsList h2 {
    margin-bottom: 5px;
}

.fieldsList td {
    padding: 0 0.1em 0 1.0em;
    margin: 0;
}

.fieldsList .checkbox label {
    height: 3rem;
    top: 0.7rem;
}

.fieldsList td input {
    margin: 0;
}

.fieldsList td .input-field {
    margin: 0px;
}

.fieldsList .input-field input.select-dropdown {
    margin: 0;
}

.row .col .jobsListing {
    padding: 0;
    margin: 10px 0 0 0;
}

.jobsListing h2 {
    font-size: 1.8em;
}

.jobsCounter {
    background-color: red;
    color: #fff;
    border-radius: 10px;
    padding: 1px 6px;
    font: 10px Verdana;
    vertical-align: text-top;
}

.jobStatusLabel {
    font-weight: 700;
}

.fullTab {

}

.loadTab {
}

.step {
    margin: auto;
    width: 66%;
    border: 1px lightgray;
}

.stepWrapper {
}

.stepWrapper form {
    margin: auto;
    width: 100%;
}

.stepIndicator {
    height: 60px;
    list-style-type: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.stepIndicator li {
    height: 60px;
    float: left;
    width: 25%;
}

.stepIndicator li a {
    color: black;
    text-decoration: none;
    padding: 0;
    position: relative;
    display: block;
    float: left;
    height: 60px;
    line-height: 60px;
    width: 99%;
    background-color: #90caf9;
}

.stepIndicator li a::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #90caf9;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.stepIndicator li a::before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.stepIndicator li a:hover {
    background: #64b5f6;
}

.stepIndicator li a:hover:after {
    border-left-color: #64b5f6 !important;
}

.stepIndicator li a:active {
    background: #64b5f6;
}

.stepIndicator li a:active:after {
    border-left-color: #64b5f6 !important;
}

.stepIndicator li a:focus {
    background: #64b5f6;
}

.stepIndicator li a:focus:after {
    border-left-color: #64b5f6 !important;
}

.stepInfo {

    margin-top: 10px;
    margin-bottom: 30px;

}

.stepInfo .stepInfoTitle {
    font-size: 2.0em;
}


